@{
    ViewBag.Title = "Welcome to EcoDelivery";
}

<div class="text-centert">
    <h1 class="text-center">@ViewBag.Title</h1>
    <p class="lead text-center">Your sustainable and reliable logistics solution.</p>
</div>